.tema{
  width: 60%;
  margin: 0 auto;
  margin-top: 90px;
  background-color: rgb(0, 19, 102);
  color: white;
  text-align: center;
}
.carousel-container {
  position: relative;
  width: 100%;
  background-color: white;
}
  
.carousel-slide {
  display: none;
  width: 100%;
  margin: 0 auto;
}
.img_carrossel{
  width: 70%;
  display: block;
  margin: auto;
  cursor: pointer;
}
.img_carrossel:hover{
  opacity: 90%;
}
.btn_carrossel{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  padding: 10px;
  cursor: pointer;
  color: black;
}
.btn_carrossel:hover{
    opacity: 70%;
}
  
#prevBtn {
  left: 10px;
}
  
#nextBtn {
  right: 10px;
}