#area_de_pesquisa{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 90px;
    gap: 0;
}
.limitador{
    width: 33%;
}
@media(max-width: 499px){
    .limitador{
        width: 50%;
    }
    .card-button p{
        font-size: 10px;
    }
}