.titulo-section-card{
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
}
.section-card{
    width: 100%;
}
.h2{
    background-color: rgb(0, 19, 102);
    color: white;
    text-align: center;
}
.card-deck {
    display: flex;
    flex-wrap: nowrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-card-icon{
    color: black;
    font-size: 40px;
}
.card-body{
    text-align: center;
}
.card-title{
    font-size: 17px;
}
.card-text{
    font-size: 15px;
}
.wrapper-buttons{
   width: 100%;
}
.card-button {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    transition: background-color 0.3s;
}
  
.card-button:hover{
    background-color: #2980b9;
}
.carousel-control-prev{
    display: block;
    height: 20%;
    margin: auto 0;
}
.carousel-control-next{
    display: block;
    height: 20%;
    margin: auto 0;
}